{
  "backupSourceBasePath": "zones",
  "backupDestination": "192.168.38.134",
  "backupDestinationUsername": "root",
  "backupDestinationBasePath": "tank",
  "backupConfigurationDestinationPath": "tank/configs",
  "backupDestinationPrivateKeyPath": "/opt/backup_id_rsa",
  "disableHostKeyChecking":true,
  "transferStrategy":"mbuffer",
  "snapshotIdentifier":"smartcopy",
  "mBufferLocalPath":"/opt/smartcopy/bin/mbuffer",
  "mBufferRemotePath":"/usr/bin/mbuffer",
  "mBufferRemoteBufferSize":"128M",
  "mBufferLocalBufferSize":"128M",
  "remoteSnapshotLimit":5,
  "localSnapshotLimit":2,
  "compressionCmd":"bzip2 -c",
  "decompressionCmd":"bzcat",
  "notificationOrder":"email",
  "smtpHostname":"<smtp server>",
  "smtpPort":25,
  "smtpUsername":"<username>",
  "smtpPassword":"<password>",
  "smtpFromAddress":"<from address>",
  "smtpToAddress":"<to address>",
  "logDirectory":"/var/log",
  "logVerbosity":"info",
  "outputVerbosity":"info",
  "httpHost":"http://username:password@my-remote-api:80/some/path"
}
